
{% set el = url ? 'a' : 'span' %}
<article class="card">
	<div class="card-notice"> {{ notice }} </div>
	<{{ el }} {% if url and not disabled %}href="{{ url }}"{% endif %}>
		<div class="card__media">
			{% include "partials/img.html.twig" with {image: image, image_alt: image_alt} %}
		</div>
		<div class="card__content text">
			{% if title %}<h3>{{ title }}</h3>{% endif %}
			{% if not disabled %}
				<div class="col-ten col-left">
					{% if text %}<p>{{ text }}{% endif %} </p>
				</div>
		        <div class="col-two col-right">

		            <div class="fa fa-shopping-cart snipcart-add-item"
		                  data-item-id= "{{ product_id }}"
		                  data-item-price= "{{ text }}"
		                  data-item-weight= "{{ weight }}"
		                  data-item-image= "{{ image.url|e }}"
		                  data-item-name= "{{ title }}"
		                  data-item-url="{{ url }}" >
		            </div>
		            
		        </div>
	        {% endif %}
		</div>
	</{{ el }}>
</article>
