
{% set el = url ? 'a' : 'span' %}
<article class="card">
	<div class="card-notice"> {{ notice }} </div>
	<{{ el }} {% if url and not disabled %}href="{{ url }}"{% endif %}>
		<div class="card__media">
			{% include "partials/img.html.twig" with {image: image, image_alt: image_alt} %}
		</div>
		<div class="card__content text">
			{% if title %}<h3>{{ title }}</h3>{% endif %}
			{% if not disabled %}
				<div class="col-ten col-left">
					{% if text %}<p>{{ text }}{% endif %} </p>
				</div>
		        <div class="col-two col-right">
		            <div class="fa fa-shopping-cart" 
		            	data-add-to-cart="{{ sku }}"
		            	data-add-to-cart-extras="{{ {url: url, image: image.url|e, price: price }|json_encode|e('html_attr') }}" >
		            </div>
		        </div>
	        {% endif %}
		</div>
	</{{ el }}>
</article>
